#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // ┌───┬───┬───┬───┬───┬───┬───┬───┐  
            // │   │   │   │ESC│   │ALT│   │   │  
            // ├───┼───┼───┼───┼───┼───┼───┼───┤  
            // │   │ W │   │   │ T │ Y │ U │ I │  
            // ├───┼───┼───┼───┼───┼───┼───┼───┤  
            // │ A │ S │ D │ F │ G │ H │ J │   │  
            // └───┴───┴───┴───┴───┴───┴───┴───┘
            bindings = <
                                           &kp ESC           &kp LSHFT
                         &kp W                      &kp T    &kp Y    &kp U    &kp I
                &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J
            >;
        };
    };
 };
